#虛擬環境
.venv/
__pycache__/
*.pyc
.DS_Store

scr/__pycache__/
#資料庫
data/

/ckpt/

#所有的 .log 檔案
*.log



#其他
0217-114851-Grocery_and_Gourmet_Food-G&G_Food_first_train/
0312-144718-Sports_and_Outdoors-S&O_first_train/
0313-150058-Video_Games-S&O_first_train/


# stirec_Grocery_and_Gourmet_Food.log 這個檔案
stirec_Grocery_and_Gourmet_Food.log