#虛擬環境
.venv/
__pycache__/
*.pyc
.DS_Store

scr/__pycache__/
#資料庫
data/

/ckpt/

#所有的 .log 檔案
*.log



#其他
0215-123316-Grocery_and_Gourmet_Food-G&G_Food_first_train/
0217-114851-Grocery_and_Gourmet_Food-G&G_Food_first_train/


# stirec_Grocery_and_Gourmet_Food.log 這個檔案
stirec_Grocery_and_Gourmet_Food.log